#ss {

   a:link{
        color: rgb(229, 255, 0);}
        
        a:visited{
        color: rgb(229, 255, 0);
    }a:hover{
        color: rgb(255, 0, 98);
    }a:active{
        color: rgb(0, 110, 255);
    }

}

table {
    border: 2px dashed black;
    margin: ;
}

#first-div {


    background-color: blue;
    padding: 200, 200, 200, 200;
    width: 300px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
border-top: 100px;



}